<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>FlaskApp</title>
        <link rel="stylesheet" href="static/styles/style.css" type="text/css" />
    </head>
    <body>
        <h1>Hello World!</h1>
        <h2>Welcome to Calculus Cryptor</h2>

        <p>Select method:</p>

        <form action="/" method="post" enctype="multipart/form-data">
            <input type="radio" name="method" value="VigenereCipher" />Vigenere
            Cipher (Standard)<br />
            <input
                type="radio"
                name="method"
                value="AutokeyVigenereCipher"
            />Autokey Vigenere Cipher<br />
            <input
                type="radio"
                name="method"
                value="ExtendedVigenereCipher"
            />Extended Vigenere Cipher (ASCII)<br />
            <input type="radio" name="method" value="AffineCipher" />Affine
            Cipher<br />
            <input type="radio" name="method" value="PlayfairCipher" />Playfair
            Cipher<br />
            <input type="radio" name="method" value="HillCipher" />Hill
            Cipher<br />
            <input type="file" name="file" />
            <label for="key">Enter key:</label>
            <p>*untuk Affine Cipher, masukkan format: a, b</p>
            <input type="text" id="key" name="key" />

            <input
                type="submit"
                class="button button1"
                name="action"
                value="Encrypt"
            />
            <input
                type="submit"
                class="button button2"
                name="action"
                value="Decrypt"
            />
            <input
                type="submit"
                class="button button2"
                name="action"
                value="Download"
            />
        </form>

        <p>Your Plaintext: {{ text }}</p>
        <p>Your Method: {{ method }}</p>
        <p>Your Action: {{ action }}</p>
        <p>Result: {{ result }}</p>
    </body>
</html>
